p {
    font-family: Arial;
}

.title {
    color: black;
}

.uppercase {
    text-transform: uppercase;
}

body {
    background-color: darkorange;
}

.center {
    position: absolute;
    left: 40%;
    top: 30%;
    text-align: center;
}